:root{
    --fuente: Roboto, sans-serif;
    --gris_claro: rgb(190, 190, 190);
    --naranja: rgb(245, 192, 45);
}

body{
    font-family: var(--fuente);
}

button{
    background-color: var(--naranja);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--fuente);
    transition: 0.3s background-color ease-in-out;
}

button:hover{
    background-color: rgb(163, 127, 26) ;

}
.contenedor{
    position: fixed;
    top: 50%;
    left: 10%;
    width: 80%;
}

.tabla{
    border-collapse:collapse;
    border-radius: 10px;
    width: 100%;
}

th{
    background-color: var(--naranja);
    padding: 5px 0 5px 10px;
    text-align: start;
    font-weight: 500;
    border: 1px solid rgb(114, 114, 114);
}

td {
    padding: 5px 0 5px 10px;
    border: 1px solid var(--gris_claro);
}

.contenedor_boton{
    margin: 1rem 0 0 0;
}

.boton{
    margin-right: .3rem;
}


.buscar_articulo{
    background-color: white;
    position: absolute;
    top: 10%;
    left: 40%;
    display: none;
    border: 1px solid black;
    float: right;
}

.buscar_contenido{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

input{
    padding: 2px;
    margin: 1rem 0 1rem 1rem;
    border:none;
    border-bottom: 1px solid var(--gris_claro);
}
.buscar_boton{
    margin: 5px;
}

.x{
    font-size: 10px;
}