:root{
    --fuente_principal: Roboto, Arial, sans-serif;
    --color_principal: #eeca06;
    --color_secundario: white;



}



html{
    font-family: var(--fuente_principal);
}

h1{
    font-size: 1.9rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1rem;
}


.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_tabla{
    padding: 10rem 5rem 2rem 5rem;
}


.boton{
    margin: 0 .5rem 0 0;
    padding: .6rem 1rem .6rem 1rem;
    font-weight: bold;
    background-color: var(--color_principal);
    color: var(--color_secundario);
    border-radius: 10px;
    border: 1px solid #c9ab04;
}


.contenedor_agregar{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20%;
    right: 50%;
    width: 20%;
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    align-items: center;
}

.contenedor_agregar form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_agregar label{
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
}

.contenedor_agregar button{
    padding: .5rem 3rem;
    margin-top: 15px;
}



.contenedor_editar{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    right: 50%;
    width: 20%;
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    align-items: center;
}