<!-- VENTANA EMERGENTE PARA AGREGAR ARTICULO -->
<div class="agregar-contenedor">
    <span class="x" onclick="cerrarAgregar()">&times;</span>
    <h2>Ingresa el articulo</h2>
    <form action="">
        <label for=""><input type="text"></label>
        <label for=""><input type="text"></label>
        <label for=""><input type="text"></label>
    </form>
    <button type="submit" class="buscar_boton">Cargar</button>
    <button type="button" class="buscar_boton" onclick="cerrarAgregar()">Cerrar</button>
</div>