<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Jorge Bruna</title>
</head>
<body>
    <aside>
        <button>[][][][]</button>
    </aside>
    <div class="contenedor">
        <!-- TABLA STOCK-->
            <div class="contenedor_tabla">
                <table id="tabla">
                    <thead>
                        <tr>
                            <th>CODIGO</th>
                            <th>CODIGO INTERNO</th>
                            <th>DESCRIPCION</th>
                            <th>CANTIDAD</th>
                            <th>PROVEEDOR</th>
                            <th>PRECIO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                            <tr class="tabla_filas">
                            <td>{{item.1}}</td>
                            <td>{{item.2}}</td>
                            <td>{{item.3}}</td>
                            <td>{{item.4}}</td>
                            <td>{{item.6}}</td>
                            <td>{{item.7}}</td>
                            <td>
                                <a href="/editar/{{item.0}}">Editar</a>
                                <a href="/eliminar/{{item.0}}">Eliminar</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        <!-- BOTONES TABLA STOCK-->
            <div class="contenedor_botones">
                <button type="button" class="boton" onclick="abrirAgregar()">Nuevo articulo</button>
                <button type="button" class="boton" onclick="">Buscar articulo</button>
            </div>
        </div>
    {%block content%}
    {%endblock%}

<script src="{{ url_for('static', filename='jquery.js')}}"></script>
<script src="{{ url_for('static', filename='datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
<footer> Jorge Bruna </footer>
</html>